@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
  /* ========== PERFECT FOURTH (1.333) ========== */
  /* 9px */
  --text-xs: 0.563rem;
  /* 12px */
  --text-sm: 0.75rem;
  /* 16px */
  --text-base: 1rem;
  /* 21px */
  --text-lg: 1.333rem;
  /* 28px */
  --text-xl: 1.777rem;
  /* 38px */
  --text-2xl: 2.369rem;
  /* 51px */
  --text-3xl: 3.157rem;
  /* 67px */
  --text-4xl: 4.209rem;
  /* 90px */
  --text-5xl: 5.61rem;

  
  --leading-tight: 1.2;

  --leading-normal: 1.5;

  --leading-relaxed: 1.75;
}

@theme {
  --color-bg: #0B0B0C;
  --color-cards: #1A1B1D;
  --color-primmary: #F5F5F5;
  --color-secondary: #A3A3A3;
  --color-border: #3F4246;
  --color-highlights: #E5C07B;
  --color-cta: #B33A3A;
  --font-montserrat: "Montserrat", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
}